@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: 'Poppins', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: oklch(39.8% 0.195 277.366);
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #fcfbfc;
        overflow: auto;
        box-sizing: border-box;
        padding: 0%;
        margin: 0%;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-300 outline-none
}

.main-container {
    @apply bg-white p-3 sm:p-5 rounded-2xl shadow-md shadow-gray-100 border border-gray-300/50;
}

.add-btn {
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-indigo-600 whitespace-nowrap bg-indigo-50 border border-indigo-100 rounded-lg px-4 py-2 cursor-pointer;
}

.add-btn-fill {
    @apply text-white bg-primary
}

.card-btn {
    @apply flex items-center gap-2 text-xs md:text-sm font-medium text-gray-800 whitespace-nowrap bg-gray-50 border border-gray-100 rounded-lg px-4 py-2 cursor-pointer;

}